<nav
  class="fixed bottom-0 left-0 right-0 border-t bg-white dark:bg-stone-900 dark:border-stone-700 z-50"
>
  <ul
    class="flex justify-around text-center text-sm text-stone-800 dark:text-neutral-500"
  >
    <li>
      <a
        href="#"
        data-page="home"
        class="block py-3 page-link flex flex-col items-center"
      >
        <i class="fa-solid fa-house fa-xl pt-4"></i>
        <span class="text-sm mt-3">Inicio</span>
      </a>
    </li>

    <li>
      <a
        href="#"
        data-page="rentals"
        class="block py-3 page-link flex flex-col items-center"
      >
        <i class="fa-solid fa-car fa-xl pt-4"></i>
        <span class="text-sm mt-3">Alquiler</span>
      </a>
    </li>

    <li>
      <a
        href="#"
        data-page="activity"
        class="block py-3 page-link flex flex-col items-center"
      >
        <i class="fa-solid fa-clipboard-list fa-xl pt-4"></i>
        <span class="text-sm mt-3">Actividad</span>
      </a>
    </li>

    <li>
      <a
        href="#"
        data-page="account"
        class="block py-3 page-link flex flex-col items-center"
      >
        <i class="fa-solid fa-user fa-xl pt-4"></i>
        <span class="text-sm mt-3">Cuenta</span>
      </a>
    </li>
  </ul>
</nav>
